<section class="hero">
  <div class="image-container">
    <img src="{{ section.settings.hero | img_url: 'small' }}" alt="hero image">
  </div>
</section>

{% schema %}
{
  "name": "hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero",
      "label": "Hero"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Image"
    }
  ]
}
{% endschema %}
